@font-face{
    font-family:Megatron ;
    src:url(Megatron.ttf);
}
@font-face{
    font-family:Poppins-Bold ;
    src:url(Poppins-Bold.ttf);
}
@font-face{
    font-family:OpenSans-Bold;
    src:url(OpenSans-Bold.ttf);
}
@font-face{
    font-family:Montserrat-SemiBold;
    src:url(Montserrat-SemiBold.ttf);
}
@font-face{
    font-family:OpenSans-Semibold;
    src:url(OpenSans-Semibold.ttf);
}
@font-face{
    font-family:Poppins-SemiBold;
    src:url(Poppins-SemiBold.ttf);
}
@font-face{
    font-family:American Typewriter Light;
    src:url(American Typewriter Light.ttf);
}
@font-face{
    font-family:ALBA____;
    src:url(ALBA____.ttf);
}
@font-face{
    font-family:OpenSans-Regular;
    src:url(OpenSans-Regular.ttf);
}
@font-face{
    font-family:Poppins-ExtraBold;
    src:url(Poppins-ExtraBold.ttf);
}